// BMD component
table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
  tr(bgcolor=bright_orange class="mobile-hide")
    td&attributes(tdCenter)
      table()&attributes(tableAtt)
        +vSpacer(6)
        tr
          td
            table
              tr
                td(align="center")
                  a(href="#" style="font-size:18px;color:#ffffff; text-decoration:underline;") TYMLOS significantly increased bone mineral density (BMD)
                  sup(style="color:#ffffff;text-decoration:none;") 1
        +vSpacer(6)
  tr(align="center" style="display:none;" class="mobile-show" bgcolor=bright_orange)
    td(width="100%")&attributes(tdCenter)
      table()&attributes(tableAtt)
        +vSpacer(6)
        tr
          td(align="center")
            table
              tr
                +hSpacer(10)
                td(align="center")
                  a(href="#" style="font-size:18px;color:#ffffff; text-decoration:underline;") TYMLOS significantly increased bone mineral density (BMD)
                  sup(style="color:#ffffff;text-decoration:none;") 1
                +hSpacer(10)
        +vSpacer(6)
  tr(class="mobile-hide" bgcolor="#1E1C1C")
    td
      table(width="100%")&attributes(tableAtt)
        tr
          +hSpacer(25)
          td(align="left")
            table(width="100%")&attributes(tableAtt)
              +vSpacer(25)
              tr
                td(width="514" height="144" align="center")
                  img(src="img/graph.png")
              +vSpacer(25)
              tr
                td
                  font(style="font-size:13px;" color=bright_orange)  Selected Safety Information
              +vSpacer(20)
              tr
                td
                  table&attributes(tableAtt)
                    tr
                      td&attributes(tdCenter)
                        img(src="img/bullet.gif")
                      +hSpacer(4)
                      td
                        font(style="font-size: 13px;" color="#ffffff") 
                          strong(style="color:#E8853C") Hypercalcemia: 
                          |   Avoid use in patients with pre-existing hypercalcemia and those known to have an underlying hypercalcemic disorder, such as primary hyperparathyroidism.#[sup 1]
              +vSpacer(25)
              tr
                td
                  table&attributes(tableAtt)
                    tr
                      +hSpacer(7)
                      td(valign="middle")
                        img(src="img/compared-riboon.png")
                      +hSpacer(15)
                      td(valign="middle")
                        table&attributes(tableAtt)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  td
                                    table
                                      tr
                                        td
                                          img(style="border: 0;display: block;padding: 0;color: #ffffff;font-family: Helvetica, arial, sans-serif;font-size: 16px;" src="img/dollar-icon.png")
                                        +hSpacer(5)
                                        td
                                          font(color="#ffffff") Lower WAC per pen5†
                                +vSpacer(15)
                                tr
                                  td
                                    table
                                      tr
                                        td
                                          img(src="img/cold-icon.png")
                                        +hSpacer(5)
                                        td
                                          font(color="#ffffff") Doesn't require refrigeration after first use1
              +vSpacer(25)
              tr
                td
                  font(style="font-size:10px;" color="#ffffff")  #[sup †]Wholesale acquisition cost (WAC) is 45% lower per pen than teriparatide as of 0‌5/02/2017.#[sup 5]
              +vSpacer(30)
              tr
                td
                  table
                    tr
                      td
                        font(style="font-family: Arial,sans-serif; font-size: 14px; color: #f58020;" color=bright_orange) 
                          strong After first use, TYMLOS can be stored for up to 30 days without refrigeration [between 68°F and 77°F] , unlike Forteo®, which must be stored under refrigeration at all times.#[sup 1,6]
                      +hSpacer(120)
              +vSpacer(30)
              tr
                td
                  table
                    tr
                      td(valign="top")
                        img(src="img/bullet.gif" width="5" height="10" style="width:5px;height:10px;")
                      
                      td
                        font(style="font-size:13px;" color="#ffffff") Before first use, store TYMLOS in a refrigerator between 36°F and 46°F (2°C and 8°C)#[sup 1]
              +vSpacer(5)
              tr
                td
                  table
                    tr
                      td(valign="top")
                        img(src="img/bullet.gif")
                      
                      td
                        font(style="font-size:13px;" color="#ffffff") After first use, TYMLOS can be stored without refrigeration, between 68°F and 77°F (20°C&nbsp;and 25°C), for up to 30 days#[sup 1]
              +vSpacer(5)
              tr
                td
                  table
                    tr
                      td(valign="top")
                        img(src="img/bullet.gif")
                      
                      td
                        font(style="font-size:13px;" color="#ffffff") Do not freeze or subject to heat#[sup 1]
              +vSpacer(30)
          +hSpacer(25)
  tr(style="display:none;" class="mobile-show" bgcolor="#1E1C1C")
    td
      table(width="100%")&attributes(tableAtt)
        tr
          +hSpacer(10)
          td(align="left")
            table(width="100%")&attributes(tableAtt)
              +vSpacer(25)
              tr
                td(width="514" height="144" align="center")
                  img(class="mobile-table" src="img/graph.png")
              +vSpacer(25)
              tr
                td
                  font(style="font-size:13px;" color=bright_orange)  Selected Safety Information
              +vSpacer(20)
              tr
                td
                  table&attributes(tableAtt)
                    tr
                      td&attributes(tdCenter)
                        img(src="img/bullet.gif")
                      +hSpacer(4)
                      td
                        font(style="font-size: 13px;" color="#ffffff") 
                          strong(style="color:#E8853C") Hypercalcemia: 
                          |   Avoid use in patients with pre-existing hypercalcemia and those known to have an underlying hypercalcemic disorder, such as primary hyperparathyroidism.#[sup 1]
              +vSpacer(25)
              tr
                td
                  table&attributes(tableAtt)
                    tr
                      +hSpacer(7)
                      td(valign="middle")
                        img(src="img/compared-riboon.png")
                      +hSpacer(15)
                      td(valign="middle")
                        table&attributes(tableAtt)
                          tr
                            td
                              table&attributes(tableAtt)
                                tr
                                  td
                                    table
                                      tr
                                        td
                                          img(style="border: 0;display: block;padding: 0;color: #ffffff;font-family: Helvetica, arial, sans-serif;font-size: 16px;" src="img/dollar-icon.png")
                                        +hSpacer(5)
                                        td
                                          font(color="#ffffff") Lower WAC per pen5†
                                +vSpacer(15)
                                tr
                                  td
                                    table
                                      tr
                                        td
                                          img(src="img/cold-icon.png")
                                        +hSpacer(5)
                                        td
                                          font(color="#ffffff") Doesn't require refrigeration after first use1
              +vSpacer(25)
              tr
                td
                  font(style="font-size:10px;" color="#ffffff")  #[sup †]Wholesale acquisition cost (WAC) is 45% lower per pen than teriparatide as of 0‌5/02/2017.#[sup 5]
              +vSpacer(30)
              tr
                td
                  table
                    tr
                      td
                        font(style="font-family: Arial,sans-serif; font-size: 14px; color: #f58020;" color=bright_orange) 
                          strong After first use, TYMLOS can be stored for up to 30 days without refrigeration [between 68°F and 77°F] , unlike Forteo®, which must be stored under refrigeration at all times.#[sup 1,6]
              +vSpacer(30)
              tr
                td
                  table
                    tr
                      td(valign="top")
                        img(src="img/bullet.gif" width="5" height="10" style="width:5px;height:10px;")
                      
                      td
                        font(style="font-size:13px;" color="#ffffff") Before first use, store TYMLOS in a refrigerator between 36°F and 46°F (2°C and 8°C)#[sup 1]
              +vSpacer(5)
              tr
                td
                  table
                    tr
                      td(valign="top")
                        img(src="img/bullet.gif")
                      
                      td
                        font(style="font-size:13px;" color="#ffffff") After first use, TYMLOS can be stored without refrigeration, between 68°F and 77°F (20°C&nbsp;and 25°C), for up to 30 days#[sup 1]
              +vSpacer(5)
              tr
                td
                  table
                    tr
                      td(valign="top")
                        img(src="img/bullet.gif")
                      
                      td
                        font(style="font-size:13px;" color="#ffffff") Do not freeze or subject to heat#[sup 1]
              +vSpacer(30)
          +hSpacer(10)
