// Daily Start component
table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
  tr(bgcolor=bright_orange class="mobile-hide")
    td&attributes(tdCenter)
      table()&attributes(tableAtt)
        +vSpacer(6)
        tr
          td
            table&attributes(tableAtt)
              tr
                td(align="center")
                  a(href="#" style="font-size:18px;color:#ffffff; text-decoration:underline;") TYMLOS, a once-daily injection, demonstrated#[br] significant fracture risk reduction
                  sup(style="color:#ffffff;text-decoration:none;") 1
        +vSpacer(6)
  tr(style="display:none;" class="mobile-show" bgcolor=bright_orange)
    td(width="100%")&attributes(tdCenter)
      table()&attributes(tableAtt)
        +vSpacer(6)
        tr
          td(align="center")
            table&attributes(tableAtt)
              tr
                +hSpacer(50)
                td(align="center")
                  a(href="#" style="font-size:18px;color:#ffffff; text-decoration:underline;") TYMLOS, a once-daily injection, demonstrated significant fracture risk reduction
                  sup(style="color:#ffffff;text-decoration:none;") 1
                +hSpacer(50)
        +vSpacer(6)
  tr(class="mobile-hide" bgcolor="#1E1C1C")
    td
      table&attributes(tableAtt)
        tr
          +hSpacer(25)
          td
            table&attributes(tableAtt)
              tr
                td(align="left")
                  table&attributes(tableAtt)
                    +vSpacer(20)
                    tr
                      td
                        font(style="font-family: Arial,sans-serif; font-size: 13px;" color="#ffffff") In a randomized, multicenter, double-blind, placebo- and active-controlled study in postmenopausal women, TYMLOS significantly reduced the risk of fractures#[sup 1,3]:
                    +vSpacer(25)
                    tr
                      td
                        table&attributes(tableAtt)
                          tr
                            td
                              img(src="img/86-percent.png")
                            +hSpacer(22)
                            td(valign="middle")
                              font(style="font-size:15px;" color="#ffffff")  <strong>RRR in new vertebral fractures with TYMLOS</strong> (fracture incidence 0.6%) vs placebo (fracture incidence 4.2%) (#[i P]&lt;0.0001) and 3.6% ARR at 18 months#[sup 1]
                    +vSpacer(25)
                    tr
                      td
                        table&attributes(tableAtt)
                          tr
                            td
                              img(src="img/43-percent.png")
                            +hSpacer(22)
                            td(valign="middle")
                              font(style="font-size:15px;" color="#ffffff")
                                strong RRR in nonvertebral fractures with TYMLOS
                                |   (fracture incidence 2.7%) vs placebo (fracture incidence 4.7%) (#[i P]=0.049) and 2.0% ARR at 19 months#[sup 1]*
                    +vSpacer(25)
                    tr
                      td
                        table
                          tr                              
                            td(color="#ffffff")
                              font(color="#ffffff") *
                            td 
                              font(style="font-size:10px;" color="#ffffff") Data included 18 months of treatment plus 1 month without treatment.#[sup 1]#[br] RRR=relative risk reduction; ARR=absolute risk reduction.
                    +vSpacer(25)
                    tr
                      td
                        font(color=bright_orange)  Selected Safety Information
                    +vSpacer(10)
                    tr
                      td
                        table
                          tr
                            td(style="width:5px;" width="5" valign="top")
                              img(src="img/bullet.gif" width="5" height="10" style="width:5px;")
                            +hSpacer(1)
                            td(valign="top")
                              font(style="font-size:13px;" color="#ffffff")
                                strong(style="color:"+bright_orange+";") Orthostatic Hypotension:
                                |  Instruct patients to sit or lie down if symptoms develop after dose administration.#[sup 1]
                    +vSpacer(25)
          +hSpacer(53)
  
  tr(bgcolor="#1E1C1C" style="display:none;" class="mobile-show")
    td
      table&attributes(tableAtt)
        tr
          +hSpacer(10)
          td
            table&attributes(tableAtt)
              tr
                td(align="left")
                  table&attributes(tableAtt)
                    +vSpacer(20)
                    tr
                      td
                        font(style="font-family: Arial,sans-serif; font-size: 13px;" color="#ffffff") In a randomized, multicenter, double-blind, placebo- and active-controlled study in postmenopausal women, TYMLOS significantly reduced the risk of fractures#[sup 1,3]:
                    +vSpacer(25)
                    tr
                      td
                        table&attributes(tableAtt)
                          tr
                            td
                              img(src="img/86-percent.png")
                            +hSpacer(22)
                            td(valign="middle")
                              font(style="font-size:15px;" color="#ffffff")  <strong>RRR in new vertebral fractures with TYMLOS</strong> (fracture incidence 0.6%) vs placebo (fracture incidence 4.2%) (#[i P]&lt;0.0001) and 3.6% ARR at 18 months#[sup 1]
                    +vSpacer(25)
                    tr
                      td
                        table&attributes(tableAtt)
                          tr
                            td
                              img(src="img/43-percent.png")
                            +hSpacer(22)
                            td(valign="middle")
                              font(style="font-size:15px;" color="#ffffff")
                                strong RRR in nonvertebral fractures with TYMLOS
                                |   (fracture incidence 2.7%) vs placebo (fracture incidence 4.7%) (#[i P]=0.049) and 2.0% ARR at 19 months#[sup 1]*
                    +vSpacer(25)
                    tr
                      td
                        table
                          tr                              
                            td(color="#ffffff")
                              font(color="#ffffff") *
                            td 
                              font(style="font-size:10px;" color="#ffffff") Data included 18 months of treatment plus 1 month without treatment.#[sup 1]#[br] RRR=relative risk reduction; ARR=absolute risk reduction.
                    +vSpacer(25)
                    tr
                      td
                        font(color=bright_orange)  Selected Safety Information
                    +vSpacer(10)
                    tr
                      td
                        table
                          tr
                            td(style="width:5px;" width="5" valign="top")
                              img(src="img/bullet.gif" width="5" height="10" style="width:5px;")
                            +hSpacer(1)
                            td(valign="top")
                              font(style="font-size:13px;" color="#ffffff")
                                strong(style="color:"+bright_orange+";") Orthostatic Hypotension:
                                |  Instruct patients to sit or lie down if symptoms develop after dose administration.#[sup 1]
                    +vSpacer(25)
          +hSpacer(10)
