// HERO START
table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
  tr
    td
      table(width="100%")&attributes(tableAtt) 
        tr(align="center")
          td(class="mobile-hide")
            table&attributes(tableAtt)(bgcolor=bright_orange width=max_w class="mobile-table")
              +vSpacer(7)
              tr
                td(align="center")
                  table&attributes(tableAtt)
                    tr
                      td(style="text-align:center; color:#ffffff; font-size:13px;line-height:18px;" align="center" color="#ffffff")
                        font Learn about the efficacy, safety, and storage of an anabolic for the treatment <br/>of postmenopausal osteoporosis that helps reduce the risk of fractures<sup>1,2</sup><br/>Having trouble displaying this email? 
                          a(href="#" target="_blank" style="color:#ffffff;text-decoration:underline;") View it online
                          |  |  
                          a(href="https://www.tymloshcp.com/index.html?utm_source=Email&utm_medium=Email&utm_campaign=abalo_nowapproved_forteo&utm_content=header_visittymlos" target="_blank" style="color:#ffffff;text-decoration:underline;") Visit TYMLOShcp.com
                            |<br/>
                          a(href="https://www.tymloshcp.com/index.html?utm_source=Email&utm_medium=Email&utm_campaign=abalo_nowapproved_forteo&utm_content=header_isi" target="_blank" style="color:#ffffff;text-decoration:underline;") Important Safety Information
                          |  |  
                          a(href="http://radiuspharm.com/wp-content/uploads/tymlos/tymlos-medication-guide.pdf?utm_source=Email&utm_medium=Email&utm_campaign=abalo_nowapproved_forteo&utm_content=header_medguide" target="_blank" style="color:#ffffff;text-decoration:underline;") Medication Guide
                          |  |  
                          a(href="http://radiuspharm.com/wp-content/uploads/tymlos/tymlos-prescribing-information.pdf?utm_source=Email&utm_medium=Email&utm_campaign=abalo_nowapproved_forteo&utm_content=header_fullpi" target="_blank" style="color:#ffffff;text-decoration:underline;") Full Prescribing Information
              +vSpacer(9)
          td(style="display:none;" class="mobile-show")
            table&attributes(tableAtt)(bgcolor=bright_orange width=max_w class="mobile-table")
              tr
                td(align="center")
                  table(width="100%")&attributes(tableAtt)
                    +vSpacer(7)
                    tr
                      td
                        table&attributes(tableAtt)
                          tr
                            +hSpacer(10)
                            td(style="text-align:center; color:#ffffff; font-size:13px;line-height:18px;" align="center" color="#ffffff")
                              font Learn about the efficacy, safety, and storage of an anabolic for the treatment of postmenopausal osteoporosis that helps reduce the risk of fractures<sup>1,2</sup> Having trouble displaying this email?#[br]
                                a(href="#" target="_blank" style="color:#ffffff;text-decoration:underline;") View it online
                                |  |  
                                a(href="https://www.tymloshcp.com/index.html?utm_source=Email&utm_medium=Email&utm_campaign=abalo_nowapproved_forteo&utm_content=header_visittymlos" target="_blank" style="color:#ffffff;text-decoration:underline;") Visit TYMLOShcp.com
                                  |
                                a(href="https://www.tymloshcp.com/index.html?utm_source=Email&utm_medium=Email&utm_campaign=abalo_nowapproved_forteo&utm_content=header_isi" target="_blank" style="color:#ffffff;text-decoration:underline;") Important Safety Information
                                |  |  
                                a(href="http://radiuspharm.com/wp-content/uploads/tymlos/tymlos-medication-guide.pdf?utm_source=Email&utm_medium=Email&utm_campaign=abalo_nowapproved_forteo&utm_content=header_medguide" target="_blank" style="color:#ffffff;text-decoration:underline;") Medication Guide
                                |  |  
                                a(href="http://radiuspharm.com/wp-content/uploads/tymlos/tymlos-prescribing-information.pdf?utm_source=Email&utm_medium=Email&utm_campaign=abalo_nowapproved_forteo&utm_content=header_fullpi" target="_blank" style="color:#ffffff;text-decoration:underline;") Full Prescribing Information
                            +hSpacer(10)
                    +vSpacer(9)
// HERO END
