// safety component
table(width=max_w align="center" style="background-color:#1E1C1C" class="mobile-table")&attributes(tableAtt)
  tr(class="mobile-hide")
    +hSpacer(25)
    td
      table&attributes(tableAtt)
        +vSpacer(15)
        tr
          td
            font(style="font-size:13px;" color=bright_orange)
              strong INDICATION AND IMPORTANT SAFETY INFORMATION
        +vSpacer(5)
        tr
          td
            font(style="font-family: Arial,sans-serif; font-size: 13px;" color="#ffffff") TYMLOS is indicated for the treatment of postmenopausal women with osteoporosis at&nbsp;high risk for fracture defined as a history of osteoporotic fracture, multiple risk factors for fracture, or patients who have failed or are intolerant to other available osteoporosis therapy. In postmenopausal women with osteoporosis, TYMLOS reduces the risk of vertebral fractures and nonvertebral fractures.
        +vSpacer(5)
        tr
          td
            font(style="text-decoration:underline;font-size:13px;" color=bright_orange) Limitations of Use
        +vSpacer(5)
        tr
          td
            font(style="font-size:13px;" color="#ffffff") Because of the unknown relevance of the rodent osteosarcoma findings to humans, cumulative use of TYMLOS and parathyroid hormone analogs (e.g., teriparatide) for&nbsp;more&nbsp;than 2 years during a patient’s lifetime is not recommended.
        +vSpacer(5)
        tr
          td
            font(style="text-transform:uppercase;text-decoration:underline;font-size:11px;" color=bright_orange)
              strong Warning: Risk of osteosarcoma
        +vSpacer(5)
        tr
          td
            table
              tr
                td
                  table
                    tr
                      td&attributes(tdCenter)
                        img(src="img/bullet.gif")
                      +hSpacer(2)
                      td
                        font(style="font-size:13px" color="#ffffff")
                          strong Abaloparatide caused a dose-dependent increase in the incidence of osteosarcoma (a malignant bone tumor) in male and female rats. The effect was observed at systemic exposures to abaloparatide ranging from 4 to 28 times the exposure in humans receiving the 80 mcg dose. It is unknown if TYMLOS will cause osteosarcoma in humans. 
              tr
                td
                  table
                    tr
                      td&attributes(tdCenter)
                        img(src="img/bullet.gif")
                      +hSpacer(2)
                      td
                        font(style="font-size:13px" color="#ffffff")
                          strong The use of TYMLOS is not recommended in patients at increased risk of osteosarcoma including those with Paget's disease of bone or unexplained elevations of alkaline phosphatase, open epiphyses, bone metastases or skeletal malignancies, hereditary disorders predisposing to osteosarcoma, or prior external beam or implant radiation therapy involving the skeleton.
              tr
                td
                  table
                    tr
                      td&attributes(tdCenter)
                        img(src="img/bullet.gif")
                      +hSpacer(2)
                      td
                        font(style="font-size:13px" color="#ffffff")
                          strong Cumulative use of TYMLOS and parathyroid hormone analogs (e.g., teriparatide) for more than 2 years during a patient’s lifetime is not recommended.   
        +vSpacer(20)
        tr
          td
            font(style="font-size:13px;" color="#ffffff") Please see <a style="color: #f58020; text-decoration: underline; font-weight: bold;">Important Safety Information</a> and <a style="color: #f58020; text-decoration: underline; font-weight: bold;">Full Prescribing Information</a>, including Boxed Warning, at <a style="color: #f58020; text-decoration: underline; font-weight: bold;">TYMLOShcp.com</a>.
        +vSpacer(40)
    +hSpacer(60)
  tr(style="display:none;" class="mobile-show")
    +hSpacer(10)
    td
      table&attributes(tableAtt)
        +vSpacer(15)
        tr
          td
            font(style="font-size:13px;" color=bright_orange)
              strong INDICATION AND IMPORTANT SAFETY INFORMATION
        +vSpacer(5)
        tr
          td
            font(style="font-family: Arial,sans-serif; font-size: 13px;" color="#ffffff") TYMLOS is indicated for the treatment of postmenopausal women with osteoporosis at&nbsp;high risk for fracture defined as a history of osteoporotic fracture, multiple risk factors for fracture, or patients who have failed or are intolerant to other available osteoporosis therapy. In postmenopausal women with osteoporosis, TYMLOS reduces the risk of vertebral fractures and nonvertebral fractures.
        +vSpacer(5)
        tr
          td
            font(style="text-decoration:underline;font-size:13px;" color=bright_orange) Limitations of Use
        +vSpacer(5)
        tr
          td
            font(style="font-size:13px;" color="#ffffff") Because of the unknown relevance of the rodent osteosarcoma findings to humans, cumulative use of TYMLOS and parathyroid hormone analogs (e.g., teriparatide) for&nbsp;more&nbsp;than 2 years during a patient’s lifetime is not recommended.
        +vSpacer(5)
        tr
          td
            font(style="text-transform:uppercase;text-decoration:underline;font-size:11px;" color=bright_orange)
              strong Warning: Risk of osteosarcoma
        +vSpacer(5)
        tr
          td
            table
              tr
                td
                  table
                    tr
                      td&attributes(tdCenter)
                        img(src="img/bullet.gif")
                      +hSpacer(2)
                      td
                        font(style="font-size:13px" color="#ffffff")
                          strong Abaloparatide caused a dose-dependent increase in the incidence of osteosarcoma (a malignant bone tumor) in male and female rats. The effect was observed at systemic exposures to abaloparatide ranging from 4 to 28 times the exposure in humans receiving the 80 mcg dose. It is unknown if TYMLOS will cause osteosarcoma in humans. 
              tr
                td
                  table
                    tr
                      td&attributes(tdCenter)
                        img(src="img/bullet.gif")
                      +hSpacer(2)
                      td
                        font(style="font-size:13px" color="#ffffff")
                          strong The use of TYMLOS is not recommended in patients at increased risk of osteosarcoma including those with Paget's disease of bone or unexplained elevations of alkaline phosphatase, open epiphyses, bone metastases or skeletal malignancies, hereditary disorders predisposing to osteosarcoma, or prior external beam or implant radiation therapy involving the skeleton.
              tr
                td
                  table
                    tr
                      td&attributes(tdCenter)
                        img(src="img/bullet.gif")
                      +hSpacer(2)
                      td
                        font(style="font-size:13px" color="#ffffff")
                          strong Cumulative use of TYMLOS and parathyroid hormone analogs (e.g., teriparatide) for more than 2 years during a patient’s lifetime is not recommended.   
        +vSpacer(20)
        tr
          td
            font(style="font-size:13px;" color="#ffffff") Please see <a style="color: #f58020; text-decoration: underline; font-weight: bold;">Important Safety Information</a> and <a style="color: #f58020; text-decoration: underline; font-weight: bold;">Full Prescribing Information</a>, including Boxed Warning, at <a style="color: #f58020; text-decoration: underline; font-weight: bold;">TYMLOShcp.com</a>.
        +vSpacer(40)
    +hSpacer(10)
