// ADVERT START
table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  +vSpacer(35)(bgcolor=bg_color )
table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr(bgcolor=bg_color)
    td(width=23)
    td
      +columns(3)(width="100%")&attributes(tableAtt)
        +col(0)(valign="top" class="column")
          table(width="100%")&attributes(tableAtt)
            tr
              td(class="title bold gray")
                font.
                  SWISH Voucher
            +vSpacer(10)
            tr
              td(class="hide")
                img(class="fluidImage" src=cards[0])
            <!--[if !mso]><!-->
            tr
              td(class="show" style="display: none;")
                table(width="100%" align="center" style="text-align: center; border-collapse: collapse;")&attributes(tableAtt)
                  tr
                    td
                      img(class="fluidImage" src=cards_mob[0])
            <!--<![endif]-->
            +vSpacer(10)
            tr
              td(class="small-p gray")
                font.
                  Sample only
            +vSpacer(22)(class="mob_vSpacer2")
            tr
              td(class="p-regular brandColor").
                For your patients taking AFINITOR,
                Novartis offers a free 8-week supply of the
                alcohol-free dexamethasone oral solution
                with a valid prescription from you. Please go
                to #[a(href="#" class="bold brandColor") www&#46;RxMouthwash&#46;com] to get more
                information and download the voucher for
                your patients.
            +vSpacer(36)
            tr
              td(align="center")
                +button({width:221, height:35, bgcolor:dark_red, text: "DOWNLOAD VOUCHER", link:"https://dexamethasone.connectiverx.net", bordercolor:dark_red })
        +col(1)(width="23" class="column_spacer")
        +col(2)(valign="top" class="column")
          table(width="100%")&attributes(tableAtt)
            tr
              td(class="title bold gray")
                font.
                  Co-Pay Card
            +vSpacer(10)
            tr
              td(class="hide")
                img(class="fluidImage" src=cards[1])
            <!--[if !mso]><!-->
            tr
              td(class="show" style="display: none;")
                table(width="100%" align="center" style="text-align: center; border-collapse: collapse;")&attributes(tableAtt)
                  tr
                    td
                      img(class="fluidImage" src=cards_mob[1])
            <!--<![endif]-->
            +vSpacer(43)(class="mob_vSpacer")
            tr
              td(class="p-regular brandColor")
                font.
                  Patients may be eligible for immediate
                  co-pay savings on their next prescription:
            tr
              td
                table&attributes(tableAtt)
                  tr
                    +bullet(class="bullet brandColor")
                    td(align="left" class="p brandColor").
                      Commercially insured patients pay $0 per month
            tr
              td
                table&attributes(tableAtt)
                  tr
                    +bullet(class="bullet brandColor")
                    td(align="left" class="p brandColor").
                      Novartis will pay the remaining co-pay, up to $15,000 per calendar year
            +vSpacer(20)
            tr
              td(class="p-regular brandColor")
                font(class="brandColor").
                  Limitations apply. Offer is not valid under
                  Medicare, Medicaid, or any other federal or
                  state program. Novartis reserves the right to
                  rescind, revoke, or amend this program
                  without notice.
            +vSpacer(20)
            tr
              td(class="p-regular brandColor").
                Encourage your patients to find out if
                they are eligible to enroll in the Universal
                Co-Pay Program by visiting #[a(href="#" class="bold brandColor") www&#46;CoPay&#46;NovartisOncology&#46;com] or
                calling #[span(class="bold brandColor")="1-877-577-7756"].
            +vSpacer(27)

    td(width=27)

// ADVERT END
