// FOOTER START
table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr(bgcolor=white)
    td(width=18)
    td
      table
        +vSpacer(17)
        tr
          td(class="p-regular gray").
            AFINITOR is indicated for the treatment of postmenopausal women with advanced hormone
            receptor-positive, HER2-negative breast cancer (advanced HR+ BC) in combination with
            exemestane after failure of treatment with letrozole or anastrozole.
        +vSpacer(30)(class="mob_vSpacer2")
        tr
          td(class="p-regular bold brandColor").
            Important Safety Information
        tr
          td(class="p-regular gray").
            AFINITOR is contraindicated in patients with hypersensitivity to everolimus, to other
            rapamycin derivatives, or to any of the excipients.
        +vSpacer(30)(class="mob_vSpacer2")

        each category in categories
          tr
            td(class="p-regular brandColor bold").
              #{category.title}
          each bullet in category.bullets
            tr
              td
                table&attributes(tableAtt)
                  tr
                    +bullet(class="bullet brandColor")
                    td(align="left" class="p-regular gray").
                      #{bullet}
          +vSpacer(30)(class="mob_vSpacer2")

        tr
          td(class="brandColor bold p-regular").
            Please see full #[a(class="brandColor u" href="https://www.pharma.us.novartis.com/sites/www.pharma.us.novartis.com/files/afinitor.pdf") Prescribing Information].
        +vSpacer(30)(class="mob_vSpacer2")
        tr
          td(class="gray p-regular").
            AE, adverse event; BOLERO-2, Breast Cancer Trials of Oral Everolimus-2; CTCAE, Common
            Terminology Criteria for Adverse Events; SWISH, dexamethaSone mouthWash for
            everolImus-related stomatitiS prevention in HR+ MBC.
        +vSpacer(30)(class="mob_vSpacer2")
        tr
          td(class="gray p-regular").
            #[span(class="bold")="Reference: 1."] Rugo HS, Seneviratne L, Beck JT, et al. Prevention of everolimus/exemestane
            stomatitis in postmenopausal women with hormone receptor-positive metastatic breast cancer
            using a dexamethasone-based mouthwash: results of the SWISH trial. Poster presented at:
            American Society of Clinical Oncology (ASCO) Annual Meeting; June 2016; Chicago IL.
        +vSpacer(30)(class="mob_vSpacer2")
        tr
          td(class="gray p-regular").
            This is a sponsored message from DMD on behalf of Novartis Pharmaceuticals Corporation.
            DMD provides sponsored health care related messages from trusted third parties. This
            material is intended specifically and exclusively for US Health Care Professionals. You are
            receiving this email because you have subscribed and agreed to receive information from the
            DMD email list.
        +vSpacer(30)(class="mob_vSpacer2")
        tr
          td(class="gray p-regular").
            If you prefer not to receive further messages from this sender,#[br] please #[a(href="" class="brandColor bold u") #[font(class="brandColor bold outlookUnderline")="click here and confirm your request"]].
        +vSpacer(30)(class="mob_vSpacer2")
        tr
          td(class="gray p-regular")
            a(class="u gray" href="#" )
              font(class="outlookUnderline gray").
                DMD Privacy Policy
        +vSpacer(30)
        tr
          td
            img(class="fluidImage" src=img_path+"novartis_logo.png")
        +vSpacer(15)
        tr
          td
            table&attributes(tableAtt)
              tr
                td(width="50")
                td(class="gray bold p-regular").
                  Novartis Pharmaceuticals Corporation
        tr
          td
            table&attributes(tableAtt)
              tr
                td(width="50")
                td(class="gray bold p-regular").
                  © 2017 Novartis
                td(width="165" class="footer_space")
                td(class="gray bold p-regular" valign="bottom") 4/17
                td(class="p-regular footer_space" width="180")
                td(class="gray bold p-regular" valign="bottom") AFB-1159655
                td(width="25")
        +vSpacer(20)
// FOOTER END
