// HERO START
table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr
    td
      table&attributes(tableAtt)
        +vSpacer(18)
        tr(align="center" class="small-p gray")
          td.
            Data on prophylactic use of mouthwash for stomatitis
        tr
          td(align="center")
            table(width="95%")
              tr
                td(height=13 style="border-bottom:1px solid #5f5f61;font-size:0px; line-height:13px;mso-line-height-rule:exactly;") &nbsp;

        +vSpacer(10)
        tr
          td(align="right")
            table
              tr
                td(class="small-p gray")
                  font
                    a(class="u gray" href=header_links[0]) View as web page
                td(width=20 class="hide") &nbsp;
        +vSpacer(15)
        tr
          td
            table
              tr
                td(width=30) &nbsp;
                td
                  table(class="header_l")
                    tr
                      td(class="border-b border-r small-p gray f_row")
                        font
                          a(class="gray" href=header_links[1]) Important Safety Information
                      td(class="border-b small-p gray f_row padding_left")
                        font
                          a(class=" gray" href=header_links[2]) Prescribing Information
                td(width=300 style="width:300px;" align="right")
                  img(src=img_path+"Afinitor-Logo.jpg" width="114" style="width:114px;" class="fluidImage")
                td(width=20 class="hide") &nbsp;
        +vSpacer(12)
        tr
          td(class="hide")
            table(width=max_w class="deviceWidth" align="center")&attributes(tableAtt)
              tr
                td
                  img(class="fluidImage" src=img_path+"hero.png")
        <!--[if !mso]><!-->
        tr
          td(class="show" style="display: none;")
            table(width="100%" align="center" style="text-align: center; border-collapse: collapse;")&attributes(tableAtt)
              tr
                td
                  img(class="fluidImage" src=img_path+"hero_mob.png")
        <!--<![endif]-->
// HERO END
