// LEARN MORE START
table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr(bgcolor=bg_color)
    td(class="mobile_padding" width=91)
    td(align="center")
      table
        +vSpacer(25)
        tr
          td(align="center")
            a(href=learnMore.link)
              img(src=learnMore.img, alt="")
        +vSpacer(18)
        tr
          td(style="text-align:center;" class="gray")
            a(href=download_link class="gray") Download PDF of SWISH data
        +vSpacer(27)
        tr
          td
            table&attributes(tableAtt)
              tr
                td
                  table(width="100%")&attributes(tableAtt)
                    tr
                      td(class="p title gray")
                        font.
                          Alcohol-free dexamethasone-based mouthwash#[sup 1]
                    +vSpacer(5)(bgcolor=bg_color)
                    tr
                      td
                        table&attributes(tableAtt)
                          tr
                            +bullet(class="bullet brandColor" style="padding-right:10px")
                            td(align="left" class="p brandColor").
                              10 mL of alcohol-free dexamethasone 0.5 mg/5 mL oral solution
                    tr
                      td
                        table&attributes(tableAtt)
                          tr
                            +bullet(class="bullet brandColor" style="padding-right:10px")
                            td(align="left" class="p brandColor").
                              Commercially available: NDC 00054-3177-63 (500 mL) or#[br] NDC 00054-3177-57 (240 mL)
                    +vSpacer(25)
              each val in coins
                tr
                  td
                    img(class="fluidImage" src=val)
                +vSpacer(18)
    td(class="mobile_padding" width=97)
table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr(bgcolor=bg_color)
    td
      table
        tr
          td(width="10")
          td(class="small-p gray")
            font.
              *Patients could continue dexamethasone mouthwash regimen for an additional 8 weeks by clinician discretion.#[sup 1]
          td(width="10")
  +vSpacer(11)(bgcolor=bg_color)
// LEARN MORE END
