// STUDY OUTCOMES START
table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr(bgcolor=white)
    td(class="mobile_padding_s" width=35)
    td
      table&attributes(tableAtt)
        +vSpacer(35)
        tr
          td(class="title gray")
            font.
              SWISH Study Outcomes#[sup 1]
        +vSpacer(8)(class="hide")
        tr
          td(class="p brandColor")
            font.
              Primary outcome measure: Incidence of grade ≥2 stomatitis at 8 weeks (56 days)
              compared with BOLERO-2 historical controls#[sup 1]
        +vSpacer(25)
        tr
          td(align="center")
            +columns(3)(class="graphs_container")&attributes(tableAtt)
              +col(0)(valign="bottom" class="col")
                table&attributes(tableAtt)
                  tr
                    td(class="p bold brandColor graph_title" align="center")
                      font.
                        Incidence of stomatitis#[br] in SWISH (Week 8)
                  +vSpacer(26)
                  tr
                    td(class="hide")
                      img(class="fluidImage" src=graphs[0] width="207")
                  <!--[if !mso]><!-->
                  tr
                    td(class="show" style="display: none;")
                      table(width="100%" align="center" style="text-align: center; border-collapse: collapse;")&attributes(tableAtt)
                        tr
                          td
                            img(class="fluidImage" src=graphs_mob[0])
                  <!--<![endif]-->
                  +vSpacer(15)
                  tr
                    td
                      img(class="fluidImage img_full" src=img_path+"21.2.png" width="212")
              +col(1)(width="89" class="graphs_separator")
              +col(2)(valign="bottom" class="col")
                table&attributes(tableAtt)
                  tr
                    td(class="p bold brandColor graph_title" align="center")
                      font.
                        Incidence of stomatitis#[br] in BOLERO-2#[sup †] (Total)
                  //- +vSpacer(30)(class="graph_spacer")
                  +vSpacer(38)(class="graph_spacer")
                  tr
                    td(class="hide")
                      img(class="fluidImage" src=graphs[1] )
                  <!--[if !mso]><!-->
                  tr
                    td(class="show" style="display: none;")
                      table(width="100%" align="center" style="text-align: center; border-collapse: collapse;")&attributes(tableAtt)
                        tr
                          td(align="right")
                            img(class="fluidImage" src=graphs_mob[1])
                  <!--<![endif]-->
                  +vSpacer(15)
                  tr
                    td
                      img(class="fluidImage img_full" src=img_path+"67.png" width="212")

        +vSpacer(20)(class="v_small")
        tr
          td(align="center" class="hide")
            img(class="fluidImage" src=img_path+"greater.png" width="515")
        <!--[if !mso]><!-->
        tr
          td(class="show" style="display: none;")
            table(width="100%" align="center" style="text-align: center; border-collapse: collapse;")&attributes(tableAtt)
              tr
                td(align="center")
                  img(class="fluidImage" src=img_path+"greater_mob.png")
        <!--<![endif]-->
        +vSpacer(33)(class="mob_vSpacer")
        tr
          td
            table&attributes(tableAtt)
              tr
                +bullet(class="bullet brandColor padding-l")
                td(align="left" class="p brandColor").
                  In the SWISH trial, stomatitis occurring from date of first study drug
                  administration until day 56 is included in the full analysis set.
                  The safety population captured AEs (CTCAE version 4.0) during the
                  period beginning with signing of informed consent until 4 weeks after
                  the patient had stopped study treatment. The overall incidence of
                  stomatitis was 27.2% (all grades) upon study completion: grade 1,
                  18.5%; grade 2, 7.6%; and grade 3, 1.1%. No grade 4 events
                  were reported#[sup 1]
        +vSpacer(30)(class="mob_vSpacer2")
        tr
          td
            table&attributes(tableAtt)
              tr
                +bullet(class="bullet brandColor padding-l")
                td(align="left" class="p brandColor").
                  No new safety signals were observed; the incidence of AEs was
                  consistent with previous observations of AFINITOR-based therapy.
                  AEs associated with corticosteroid use, oral thrush or an increase in
                  hyperglycemia, occurred in 2 patients and 14 patients, respectively#[sup 1]
        +vSpacer(38)(class="mob_vSpacer2")
    td(class="mobile_padding_s" width=30)

table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr(bgcolor=white)
    td
      table
        tr
          td(width="10")
          td(class="small-p gray")
            font.
              #[sup(class="equal_sup") †]Safety was evaluated in BOLERO-2 using CTCAE version 3.0.
          td(width="10")
  +vSpacer(17)(bgcolor=white)

// STUDY OUTCOMES END
