extends ../../layout/main.pug

block variables
  -var title = "AFBU17DDBH5466 Afinitor DMD Email Swish"
  -var max_w = 700
  -var preheader = "Data on prophylactic use of mouthwash for stomatitis"
  -var mob = 480
  -var img_path = "./img/"
  -var bg_color= "#fef1d5"
  -var dark_red= "#701400"
  -var white = "#ffffff"
  -var header_links=["#","https://www.hcp.novartis.com/products/afinitor/metastatic-breast-cancer/#important-safety-info","https://www.pharma.us.novartis.com/sites/www.pharma.us.novartis.com/files/afinitor.pdf"]
  -var learnMore= {"link": "https://www.hcp.novartis.com/products/afinitor/metastatic-breast-cancer/", "img":`${img_path}learn_more_btn.png`}
  -var download_link = "https://www.hcp.novartis.com/products/afinitor/metastatic-breast-cancer/safety-profile/#important-safety-information"
  -var coins = [`${img_path}Coin_1.png`,`${img_path}Coin_2.png`,`${img_path}Coin_3.png`,`${img_path}Coin_4.png`]
  -var coins_b = [`${img_path}Coin_1_mb.png`,`${img_path}Coin_2_mb.png`,`${img_path}Coin_3_mb.png`,`${img_path}Coin_4_mb.png`]
  -var graphs = [`${img_path}graph_1.png`,`${img_path}graph_2.png`]
  -var cards = [`${img_path}swish_card.jpg`,`${img_path}copay_card.jpg`]
  -var cards_mob = [`${img_path}swish_card_mob.jpg`,`${img_path}copay_card_mob.jpg`]
  -var graphs_mob = [`${img_path}graph_1_mob.png`,`${img_path}graph_2_mob.png`]
  -var externalFonts = []
block conditionals
  //- <!--[if (lt mso 15)]>
  //- style.
  //-   .equal_sup{ vertical-align:super;}
  //- <![endif]-->
block styles
  style(type="text/css")
    include:scss(outputStyle="compressed") ./styles/inline.scss
    include:clean-css ./styles/index.css
  //- <link href="src/emails/AFBU17DDBH5466 Afinitor DMD Email Swish/styles/inline.css" rel="stylesheet" data-embed >

block content

  // CONTAINER TABLE
  table(width="100%" style="table-layout: fixed;")&attributes(tableAtt)
    tr
      td(align="center")
        //  WRAPPER TABLE
        table(width=max_w class="wrapper")&attributes(tableAtt)
          td
            include /includes/modules/preheader.pug
            include components/hero.pug
            include components/learn_more.pug
            include components/study_outcomes.pug
            include components/advert.pug
            include components/footer.pug
